.calculator {
  top: 130px;
}
.main{
  background: #fff;
}
.main .content{
  padding-bottom: 60px;
}
h2{
  margin: 180px 0 36px 0;
}
.text-img{
  float: left;
  margin: 0 25px 25px 0;
}
.text-img img{
  width: 100%;
}
.text-main p{
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  padding-bottom: 22px;
}
@media screen and (max-width: 1250px){
  h2{
    margin: 20px 0 36px 0;
  }
  .calculator.small{
    top: 16%;
  }
  .text-main p{
    padding-bottom: 12px;
  }
  .button-get{
    margin-top: 20px;
  }

}

@media screen and (max-width: 900px){
  h2{
    margin: 130px 0 36px 0;
  }
  .text-img{
    width: 250px;
  }
  
}

@media screen and (max-width: 480px){
  .calculator.small{
    top: 81px;
  }
  h2 {
    margin: 120px 0 25px 0;
  }
  .text-img{
    float: none;
    width: 100%;
  }
  .text-main p{
    font-size: 14px;
    line-height: 24px;
  }
  
}